*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.header__nav{
    background: #282828;
box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);

}
body{
    background:#151515;
}
.container{
    max-width: 1140px;
    width: 100%;
    padding:0 15px;
    margin: 0 auto;
}
.nav__container{
    display: flex;
    gap: 30px;
    padding-bottom: 20px;
    padding-top: 20px;
    
}
.header__nav-list{
    display: flex;
    align-items: center;
    gap: 30px;
}
.header__nav-link{
font-size: 20px;
line-height: 24px;
text-align: right;
color: #FFFFFF;
font-family: 'MB';
}
.header__nav-list2{
    display: flex;
    align-items: center;
    gap: 25px;
}
.header__nav-link2{
position: absolute;
left: 80.62%;
right: 18.12%;
top: 37px;
bottom: 98.39%;
}
.header__nav-link2.active{
position: absolute;
left: 83.44%;
right: 15.5%;
top: 37px;
bottom: 98.39%;

}
.header__content{
height: 800px;
position: relative;
display: flex;
flex-direction: column;
gap: 40px;

justify-content: center;
align-items: center;
}
.header__content-hp{
width: 100%;
position: absolute;
z-index: -1;
left: 0;
top: 0;
}
.header__content-title{
height: 75px;
font-size: 100px;
line-height: 75px;
color: #FFFFFF;
font-family: 'PR';
}
.header__content-btn{
background: #FFFFFF;
border-radius: 10px;
border: 2px solid white;
padding: 1px 1px;
}
.main__first-block{
    width: 100%;
    display: flex;
    gap: 30px;
    margin-top: 40px;
}
.main__first-block img{
    width: 100%;
}
.main__first-text{
font-size: 22px;
line-height: 27px;
font-family: 'MM';
color: #FFFFFF;
max-width: 538px;
}
.main__second-block{
    width: 100%;
    display: flex;
    gap: 87px;
    margin-top: 50px;
}
.main__second-text{
font-size: 22px;
line-height: 27px;
color: #FFFFFF;
margin-top: 200px;
}
.main__third-block{
    width: 100%;
    display: flex;
    gap: 13px;
}
.line{
display: flex;
align-items: center;
}
.line:first-of-type::before{
content: '';
display: block;
width: 60px;
height: 1px;
background: #C4C4C4;



}
.line:last-of-type::after{
content: '';
display: block;
width: 60px;
height: 1px;
background: #C4C4C4;

}

.main__third-text{
font-size: 20px;
line-height: 24px;
text-align: right;
color: #FFFFFF;
width: 333px;
height: 120px;
margin-top: 135px;
font-family: 'MB';
}
.main__third-text.active{
width: 333px;
height: 144px;
}
.main__end-block{
    display: flex;
    gap: 30px;
}
.main__end-item{
border: 2px solid white;
background: #FFFFFF;
border-radius: 6px;
max-width: 255px;
padding: 15px;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
width: 100%;
}
.main__end-item.active{
    padding: 15px 64px;
}
.main__end-text{
    font-size: 14px;
    line-height: 17px;
    font-family: 'MR';
    text-transform: uppercase;
    color: #000000;
    width: 130px;
    margin-top: 10px;
}
.main__end-title{
font-size: 20px;
line-height: 24px;
font-family: 'MB';
color: #000000;
width: 138px;
margin-bottom: 10px;
text-align: center;
}

.main__end-btn{
    padding: 7px 30px;
    background: #151515;
    margin-top: 20px;
    font-size: 16px;
line-height: 20px;
/* identical to box height */
width: 161px;
height: 34px;
text-transform: uppercase;
text-align: center;
color: #FFFFFF;
font-family: 'MB';


}
.main__end-img{
    height: 167px;
}
.footer{
background: #282828;
box-shadow: 0px -4px 20px rgba(0, 0, 0, 0.25);
margin-top: 77px;
}
.footer__container{
    display: flex;
    padding: 81px 0;
    justify-content: space-between;
    
}
.footer__container-list{
    display: flex;
    gap: 30px;
    align-items: center;
}
.footer__container-link{
font-size: 20px;
line-height: 24px;
text-align: right;
font-family: 'MB';
color: #FFFFFF;
}
.footer__container-img{
width: 100px;
height: 53px;
margin-top: 10px;
}
.footer__container-cards{
    display: flex;
    align-items: center;
    gap: 29px;
}

@media(max-width:900px){
    .main__first-block
    {
        flex-direction:  column;
        align-items: center;
        gap: 50px;
    }

    .main__second-block{
        flex-direction: column-reverse;
        align-items: center;
    }
    .main__second-block img{
        width: 100%;
    }
    .main__second-text
    {
        max-width: 400px;
    }
    .main__end-block{
        flex-wrap: wrap;
        justify-content: center;
    }
    .main__third-block{
        flex-direction: column;
        align-items: center;
        gap: 60px;
    }
    .line:last-of-type::after{
        width: 1px;
        height: 60px;
    }
    .line:first-of-type::before{
        width: 1px;
        height: 60px;
    }
    .nav__container{
        flex-direction: column;
        align-items: center;
    }
    .header__nav-list2{
        display: none;
    }
    .footer__container-cards{
        display: none;
    }
    .footer__container{
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
}
@media(max-width:700px){
    .main__first-block:first-of-type img{
        width: 100%;
    }
    .header__content-title{
        font-size: 50px;
        margin-bottom: 30px;
        align-items: center;
    }

}
